* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}


audio::-webkit-media-controls-panel {
  background: #16962B;
  border: none;
}

.map-container {
  position: relative;
  height: 400px;
  width: 100%;
}

.map-container-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}
