.icon {
  @apply w-5 h-5;
}

.delivery-icon {
  @apply flex items-center gap-x-2 mr-1;
}

.right-nav {
  @apply flex items-center gap-x-4 mr-5;
}

.icons-container {
  @apply flex items-center gap-x-5;
}

.search-btn {
  @apply w-max px-8 py-3;
}

.input-search-container {
  @apply w-[70%] flex items-center gap-x-3 ml-auto;
}

.nav-container {
  @apply flex items-center justify-between w-full mt-7 px-32;
}

.dummy-logo {
  @apply w-[3rem] h-[3rem] bg-[#D9D9D9];
}
